<!-- <div class="container">
    <nav id="nav">
        <input type="search" class="search" placeholder="Search Here.......">
        <h1>BetBuzz</h1>
        <button class="btn1">Main Balance PBU 13.00 Exposure 00.00</button>
        <button class="btn">MyAccount</button>
    </nav>
    <nav>
        <ul>
            <li><a hrf="#">Home</a></li>
            <li><a hrf="#">In-Play</a></li>
            <li><a hrf="#">Cricket</a></li>
            <li><a hrf="#">Soccer</a></li>
            <li><a hrf="#">Tennis</a></li>
            <li><a hrf="#" class="casino">Casino</a></li>
            <li class="setting"><a hrf="#"><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;Setting</a></li>
        </ul>
    </nav>
    <div class="box">
        <h3><i class="fa fa-microphone" aria-hidden="true"></i>&nbsp;News</h3>
        <h4>Welcome To Exchange </h4>
        <p>My Bets</p><br><br>
        <div id="main">
            <ul>
                <li><a href="#">Current Bet</a></li>
                <li><a href="#" class="active">Bets History</a></li>
                <li><a href="#">Profit & Loss</a></li>
                <li><a href="#">Casino History</a></li>
            </ul>
        </div><br>
        <div class="content">
            <ul>
                <li><a href="#" class="active">Exchange</a></li>
                <li><a href="#">Sport</a></li>
                <li><a href="#">Book Market</a></li>
                <li><a href="#">Binary</a></li>
            </ul>
        </div>
        <div class="box1">
            <li>Bet ID</li>
            <li>PL ID</li>
            <li>Market</li>
            <div class="seperate">
                <li>Selection</li>
                <li>Type</li>
                <li>Bet Placed</li>
                <li>Stake</li>
                <li>Avg.Odd Matched </li>
            </div>
        </div>
    </div>
    <div class="sidebar">
        <h2>MyAccount</h2>
        <ul>
            <li><a href="#">MyProfile</a></li>
            <hr>
            <li><a href="#">Balance Overview</a></li>
            <hr>
            <li><a href="#">Account Statement</a></li>
            <hr>
            <li><a href="#">MyBets</a></li>
            <hr>
            <li><a href="#">Activity Log</a></li>
            <hr>
            <li><a href="#">Change Password</a></li>
            <hr>
        </ul>
    </div>

</div> -->