<!-- <div class="container">
    <nav>
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#" style="text-decoration: underline;">BEDROOM</a></li>
            <li><a href="#">DINING</a></li>
            <li><a href="#">KITCHEN</a></li>
            <li><a href="#">BACKYARD</a></li>
        </ul>
        <h2>TADDY.COM</h2>
    </nav>
    <section>
        <div class="title">
            <h1>DESIGN YOUR HOUSE..</h1>
        </div>
        <div class="desc">
            <p>Subscribe Easy Tutorials YouTube Channel To Watch More Videos,<br>
               &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  Press The Bell Icon To Get Latest Updates.</p>
        </div>
        <button class="btn1">WATCH MORE</button>
        <button class="btn2">SUBSCRIBE</button>
    </section>
</div> -->






