<!-- <div class="container">
    <div class="center">
        <h1 id="register">Student Registration Form</h1>
        <form>
            <div class="text">
                <label for="fname">First Name</label>
                <input type="text" class="Names" placeholder="Enter First Name">
            </div>
      
            <div class="text">
                <label for="mname">Middle Name</label>
                <input type="text" class="Names" placeholder="Enter Middle Name">
            </div>
           
            <div class="text">
                <label for="lname">Last Name</label>
                <input type="text" class="Names" placeholder="Enter Last Name">
            </div>
           
            <div class="text">
               <label for="ename">Email</label>
               <input type="text" class="Names" placeholder="Enter Email">
            </div>

            <div class="text">
                <label for="pname">Phone Number</label>
                <input type="tel"class="Names" value="+91" placeholder="Enter Phone Number">
            </div>
        
            <div class="text">
              <label for="courses">Choose Courses :- </label>
                <select name="courses">
                   <option class="option">HTML</option>
                   <option class="option">CSS</option>
                   <option class="option">JAVASCRIPT</option>
                   <option class="option">ANGULAR</option>
                </select><br>
                <div class="date">
                    <label>Enter Date :</label>
                    <input type="date">
                </div>
                <div class="gender">
                    <label>Gender :</label>
                    <input name="gen" type="radio">Male
                    <input name="gen"   type="radio">Female
                    <input name="gen"  type="radio">Other
                </div>
            </div>
        </form>
    </div>
</div> -->